@page "/work0910"
@inject NavigationManager Navigatorec
@using Microsoft.AspNetCore.WebUtilities



<h3>Work0910</h3>
<p @onclick="Perehod">переход  по клику</p>
<ul>
    <li>Uri: @Uri</li>
    <li>BaseUri: @BaseUri</li>
    <li>ToAbsoluteUri: @ToAbsoluteUri</li>
    <li>ToBaseRelativePathUri: @ToBaseRelativePathUri</li>
    <li>А это значение ключа keyok - @ValueQuery</li>
</ul>
@code {

    public string Uri { get; set; }
    public string BaseUri { get; set; }
    public string ToAbsoluteUri { get; set; }
    public string ToBaseRelativePathUri { get; set; }

    public string ValueQuery { get; set; }

    protected override void OnInitialized()
    {
        Uri = Navigatorec.Uri;
        BaseUri = Navigatorec.BaseUri;

        ToBaseRelativePathUri = Navigatorec.ToBaseRelativePath(Uri);
        ToAbsoluteUri = Navigatorec.ToAbsoluteUri("dsd").ToString();


        var query = new Uri(Navigatorec.Uri).Query;
        if (QueryHelpers.ParseQuery(query).TryGetValue("keyok", out var resulta))
        {
            ValueQuery = resulta.ToString();
        }
    }

    private void Perehod()
    {
        Navigatorec.NavigateTo("morning2909");

    }


}
