
<p>@ChildContent  -- @Rand</p>
<p>демонстрирую, что дочернее содержимое не меняется - @originName</p>
<p>а это то, что попадает из параметра - @TestingName</p>

<input type="checkbox" checked="@Userec.IsMale" />
<p>а тут необработанный html - @((MarkupString)HtmlRaw)</p>

@code {

    public string HtmlRaw { get; set; } = "<b>жирненький</b>";
    private string originName;

    public int Rand { get; set; }

    [Parameter]
    public User Userec { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        Rand = new Random().Next(1, 33333);
        originName = TestingName;
    }

    [Parameter]
    public string TestingName { get; set; }
}
