@model ModelFithDataType

<form action="/" method="post">
    <input asp-for="@Model.Data1" />
    <input asp-for="@Model.Data2" />
    <input asp-for="@Model.Password" />
    <input asp-for="@Model.EmailAddress" />
    <input asp-for="@Model.Currency" />
    <input asp-for="@Model.PhoneNumber" />
    <input asp-for="@Model.Time" />
    <input asp-for="@Model.Url" />
    <input asp-for="@Model.Upload" />
</form>