@model Address

@{ 
    int count = 0;
}

<form asp-action="Update2109Address" asp-controller="OneMany" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="text" asp-for="Country" />
    <input type="text" asp-for="City" />
    <br />
    @foreach (var user in Model.Users)
    {
        <input type="hidden" name="Users[@count].Id" value="@user.Id" />
        <input type="text" name="Users[@count].FirstName" value="@user.FirstName" />
        <input type="text" name="Users[@count].LastName" value="@user.LastName" />
        <input asp-for="@user.BirthDay" name="Users[@count].BirthDay" />
        <input type="checkbox" checked="@user.IsMale" name="Users[@count].IsMale" value="true" />
        <input type="number" name="Users[@count].Age" value="@user.Age" />
        count++;
        <br />
    }

    <button type="submit">Обновить</button>
</form>